{% load i18n %}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ subject }}</title>
</head>

    <body>

        <p>{% trans 'You received this email because you requested a password reset for your user account.' %}</p>
        <p>{% trans 'Please, go to the following page and choose a new password:' %}</p>

        <p>
            <a href="{{ uri }}">{{ uri }}</a>
        </p>

    </body>

</html>